// ---------------------------------------------------------------
//
//  Module for listing recipes
//
// ---------------------------------------------------------------

.module-recipelist {
	@extend %clearfix;
}

.module-recipelist__list {
	margin: 0;
	padding: 0;
	list-style: none;

	a {
		text-decoration: none;
	}
}

.module-recipelist__listitem {
	@extend %clearfix;
	padding: 6px 6px 0 6px;

	&:nth-child(even) {
		background: $lite_grey;
	}
}

.module-recipelist__tags {
	float: right;
	max-width: 50%;

	li {
		display: inline;

		&:first-child {
			a {
				margin-left: 0;
			}
		}
	}
}

.module-recipelist__tags {

	a {
		@extend %tag_style;
	}
}
