// ---------------------------------------------------------------
//
//  Module for listing tabs
//
// ---------------------------------------------------------------

.module-taglist {
	@extend %clearfix;

	ul {
		@extend %clearfix;
		margin: 0;
		padding: 0;
		list-style: none;

		.template--home & {
			margin-left: -.5rem;
		}

		li {
			float: left;
			margin: 0;
			padding: 0;
		}

		a {
			@extend %tag_style;
		}
	}
}