// ---------------------------------------------------------------
//
//  Welcome/intro on start
//
// ---------------------------------------------------------------

.welcome-box {
	margin-bottom: 30px;
}

.btn {
	margin-top: 10px;
	margin-right: 6px;
	padding: 15px;
}