// ---------------------------------------------------------------
//
//  Welcome/intro links on start
//
// ---------------------------------------------------------------

.welcome-links {
	@extend %clearfix;
	list-style: none;
	margin: 0;
	padding: 0;
}
