// ---------------------------------------------------------------
//
//  Welcome/intro on start
//
// ---------------------------------------------------------------

.welcome-box {
	margin-bottom: 1.875rem;
}

.btn {
	margin-top: .5rem;
	margin-right: .5rem;
	padding: .9rem;
	display: inline-block;
	float: left;

	.fa {
		margin-right: .2rem;
	}
}