.DS_Store?
*.old
*.old/*
*.new
*.new/*
old
old/*
*.1
*.1/*
sess_*
*.cache
*.swp
*.swo
*.sh
tmp
upgrade.php
.idea
.svn
.sass-cache
.sass-cache/*
**/.sass-cache
node_modules
site/assets/logs/messages.txt
site/db.inc.php
site/assets/logs/errors.txt
site/assets/backups
site/modules/TemplateStubs
