// ---------------------------------------------------------------
//
//  Base layout
//
// ---------------------------------------------------------------

html {
	position: relative;
	min-height: 100%;
}
body {
	min-height: 100%;
	margin: 0 0 65px;
}

.inner {
	@extend %clearfix;
	position: relative;
	margin: 0 auto;
	padding: 25px;
	max-width: 1140px;
	min-width: 810px;
}

.col-50 {
	width: 48%;
	margin: 0 1%;
	float: left;
	display: inline-block;
}