// ---------------------------------------------------------------
//
//  Footer
//
// ---------------------------------------------------------------

.footer-main {
	@extend %clearfix;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: $grey;

}
