// ---------------------------------------------------------------
//
//  Site header
//
// ---------------------------------------------------------------

.header-main {
	width: 100%;
	background: $blue;
	color: $white;

	a {
		text-decoration: none;
	}
}

.header-main__logo {
	float: left;
	margin: 0 0 .75em;
	padding: 0;
	width: 60%;
	font-size: 2.25em;

	a {
		color: $white;
	}

	.fa {
		margin-right: .25em;
	}
}