// ---------------------------------------------------------------
//
//  Silent helper classes
//
// ---------------------------------------------------------------

%clearfix {
	zoom:1;
	&:before, &:after {
		display: block;
		overflow: hidden;
		height: 0;
		content: "";
	}
	&:after {
		clear: both;
	}
}

%hide_text {
	color: transparent;
	text-shadow: none;
	font: 0/0 a;
}

%tag_style {
	display: inline-block;
	float: left;
	margin: 0 0 .25em .25em;
	padding: 0 .3em;
	background: $blue;
	color: $white;
	text-decoration: none;
}