// ---------------------------------------------------------------
//
//  Variables
//
// ---------------------------------------------------------------


$blue: #264973;
$white: #fff;
$lite_grey: #f7f7f7;
$grey: #5a5a5a;
$black: #262626;
$red: #d52979;