// ---------------------------------------------------------------
//
//  Variables
//
// ---------------------------------------------------------------


$blue: #34639c;
$white: #fff;
$lite_grey: rgba($blue, .05);
$grey: #515a66;
$black: #262626;
$red: #a3337c;