// ---------------------------------------------------------------
//
//  Variables
//
// ---------------------------------------------------------------

$blue: #4A90E2;
$white: #fff;
$lite_grey: #f7f7f7;
$grey: #5a5a5a;
$black: #262626;
