// ---------------------------------------------------------------
//
//  Basic layout system, etc.
//
// ---------------------------------------------------------------

html {
	box-sizing: border-box;
	min-height: 100%;
	color: $black;
}

*, *:before, *:after {
	box-sizing: inherit;
}

input:focus {
	outline: 0;
	outline: none;
}

.btn {
	display: inline-block;
	margin-top: 20px;
	padding: 12px;
	border: 1px solid $blue;
	text-decoration: none;
}

.sr-only {
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}