// ---------------------------------------------------------------
//
//  Basic typography
//
// ---------------------------------------------------------------

html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.content-main {
	p,
	ul {
		line-height: 1.75;
	}
}

ul {
	list-style-type: square;
}

a {
	color: $blue;
}

h2,
h3 {
	@extend %clearfix;
	margin: 0 0 .667em;
	font-size: 1.5em;
}

.section-recipe {
	h3 {
		margin-top: 1.25em;
		color: $blue;
		font-weight: 400;
		font-size: 1.125em;
	}
}

code {
	display: inline;
	padding: .125rem .375rem;
	background: $lite_grey;

	.template--recipe pre & {
		display: block;
		line-height: 1.75;

		&.hljs {
			padding: .875em;
		}
	}
}

.hljs {
	display: inline;
}


