// ---------------------------------------------------------------
//
//  Main navigation
//
// ---------------------------------------------------------------

.nav-main {
	float: right;
	width: 30%;

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: block;
	}
}

.nav-main__item {
	border-bottom: 1px solid $white;

	&:first-child {
		border-top: 1px solid $white;
	}

	a {
		padding: .375rem .5625rem;
		display: block;
		color: $white;
	}

	&.nav-main__item--current {
		border-left: 1px solid $white;
		border-right: 1px solid $white;
		background: rgba($white, .25);
	}
}